@font-face {
    font-family: "Cera Pro";
    src: local("Cera Pro Medium"), url("./fonts/Cera Pro Medium.ttf") format("truetype");
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Cera Pro", serif;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}


